{% extends "base.html" %}

{% block content %}

<div class="card glass-card p-4 mb-4">
    <h4 class="fw-bold neon-text text-center mb-3">
        Telecom Payment Information
    </h4>

    <div class="table-responsive">
        <table class="table table-dark table-hover align-middle">
            <thead>
                <tr>
                    {% for col in columns %}
                        <th>{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in table_data %}
                    <tr>
                        {% for col in columns %}
                            <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <a href="/" class="btn btn-neon btn-lg">
        Go to Dashboard
    </a>
</div>

{% endblock %}
